In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
#read in csv file, utitilizing read.csv method
results_df = pd.read_csv("results.csv")
results_df

     Overall      2019      2018      2017      2016      2015
0   0.879545  0.898876  0.886364  0.920455  0.852273  0.909091
1   0.886364  0.842697  0.818182  0.897727  0.863636  0.875000
2   0.859091  0.898876  0.886364  0.909091  0.818182  0.943182
3   0.863636  0.898876  0.875000  0.863636  0.875000  0.863636
4   0.822727  0.786517  0.818182  0.795455  0.818182  0.818182
5   0.825000  0.853933  0.818182  0.784091  0.829545  0.772727
6   0.809091  0.786517  0.818182  0.784091  0.795455  0.795455
7   0.815909  0.786517  0.784091  0.784091  0.784091  0.784091
8   0.822727  0.786517  0.784091  0.784091  0.784091  0.784091
9   0.815909  0.786517  0.784091  0.784091  0.784091  0.784091
10  0.815909  0.786517  0.784091  0.784091  0.784091  0.784091
11  0.815909  0.786517  0.784091  0.784091  0.784091  0.784091
12  0.813636  0.797753  0.772727  0.795455  0.784091  0.806818
13  0.827273  0.876404  0.840909  0.772727  0.795455  0.829545
14  0.811364  0.764045  0.750000  0.806818  0.795455  0.772727
15  0.809091  0.797753  0.795455  0.795455  0.784091  0.761364
16  0.815909  0.786517  0.784091  0.784091  0.784091  0.784091
17  0.884091  0.921348  0.784091  0.954545  0.909091  0.954545

In [ ]:
new_results_df= results_df.drop(columns=['Unnamed: 7'])
new_results_df

In [ ]:
indexed_df = new_results_df.set_index('Unnamed: 0')
indexed_df

In [ ]:
indexed_df.columns = ['Overall','2019', '2018', '2017', '2016', '2015']
indexed_df.head()

In [ ]:
indexed_df.to_csv('results2.csv', index=False)