In [1]:
import os
# Find the latest version of spark 3.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.0.1'
# spark_version = 'spark-3.0.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

## import matplotlib, etc
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

'apt-get' is not recognized as an internal or external command,
operable program or batch file.
The system cannot find the path specified.
'wget' is not recognized as an internal or external command,
operable program or batch file.
tar: Error opening archive: Failed to open '$SPARK_VERSION-bin-hadoop2.7.tgz'

Exception: Unable to find py4j, your SPARK_HOME may not be configured correctly

In [ ]:
# suppress warnings, if you want:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.18.jar").getOrCreate()

In [ ]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url="https://markdatabucket.s3.amazonaws.com/cbb.csv"

spark.sparkContext.addFile(url)
spark_data_df = spark.read.csv(SparkFiles.get("cbb.csv"), sep=",", header=True, inferSchema=True)

cbb_df = spark_data_df.toPandas()

# Show DataFrame
cbb_df.head()

             TEAM CONF   G   W  ADJOE  ...  ADJ_T   WAB  POSTSEASON  SEED  YEAR
0  North Carolina  ACC  40  33  123.3  ...   71.7   8.6         2ND     1  2016
1       Wisconsin  B10  40  36  129.1  ...   59.3  11.3         2ND     1  2015
2        Michigan  B10  40  33  114.4  ...   65.9   6.9         2ND     3  2018
3      Texas Tech  B12  38  31  115.2  ...   67.5   7.0         2ND     3  2019
4         Gonzaga  WCC  39  37  117.8  ...   71.5   7.7         2ND     1  2017

[5 rows x 24 columns]

In [ ]:
# get list of relevant stats
allColumns = list(cbb_df.columns)
stats = allColumns[2:21]

In [ ]:
# make main function to generate test scores for the particular year. Pass in theYear and stats (from dataframe header)
def cbbYearParser(theYear, stats):
  cbb_current_df = cbb_df[cbb_df.YEAR == theYear]
  cbb_current_df['POSTSEASON_BINARY'] = cbb_current_df['POSTSEASON']
  cbb_current_df['POSTSEASON_MULTI'] = cbb_current_df['POSTSEASON']

  # determine if team made it to the post season (0: no; 1: yes). Use a function
  cbb_current_df = postSeasonQuantifierBinary(cbb_current_df)
  cbb_current_df = postSeasonQuantifierMulti(cbb_current_df)

  # create an empty list to hold testScores
  allTestScores = [] ;

  #******************************************************
  # BINARY STATS:
  for stat in stats:
    testScore = statPasser_Binary(stat, cbb_current_df) ;
    allTestScores.append(testScore)

  return allTestScores, cbb_current_df

In [ ]:
# make function to quantify post-season outcome
def postSeasonQuantifierBinary(cbb_current_df):
  cbb_current_df.POSTSEASON_BINARY[cbb_current_df.POSTSEASON_BINARY == "NA"] = 0
  cbb_current_df.POSTSEASON_BINARY[cbb_current_df.POSTSEASON_BINARY != 0] = 1
  
  return cbb_current_df

In [ ]:
def postSeasonQuantifierMulti(cbb_current_df):
  cbb_current_df.POSTSEASON_MULTI[cbb_current_df.POSTSEASON_MULTI == "NA"] = 0
  cbb_current_df.POSTSEASON_MULTI[cbb_current_df.POSTSEASON_MULTI == "R64"] = 1
  cbb_current_df.POSTSEASON_MULTI[cbb_current_df.POSTSEASON_MULTI == "R32"] = 2
  cbb_current_df.POSTSEASON_MULTI[cbb_current_df.POSTSEASON_MULTI == "S16"] = 3
  cbb_current_df.POSTSEASON_MULTI[cbb_current_df.POSTSEASON_MULTI == "E8"] = 4
  cbb_current_df.POSTSEASON_MULTI[cbb_current_df.POSTSEASON_MULTI == "F4"] = 5
  cbb_current_df.POSTSEASON_MULTI[cbb_current_df.POSTSEASON_MULTI == "2ND"] = 6
  cbb_current_df.POSTSEASON_MULTI[cbb_current_df.POSTSEASON_MULTI == "Champions"] = 7
  
  return cbb_current_df

In [ ]:
# make function to generate logistic function for stat and post-season outcome for a particular year (as defined by the 'current' df)
def statPasser_Binary(stat, cbb_current_df):

  # Assign the data to X and y (note that the X variable changes according to the 'stat' argument sent to statPasser)
  X = cbb_current_df[stat].values.reshape(-1, 1)
  y = cbb_current_df.POSTSEASON_BINARY
  y=y.astype('int')

  # from sklearn.model_selection import train_test_split
  from sklearn.model_selection import train_test_split

  # split the data
  X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

  # Create the model and fit the model to the data  
  from sklearn.linear_model import LogisticRegression

  # define the classifier 
  classifier = LogisticRegression()

  # Train the model to the data. 
  classifier.fit(X_train, y_train)

  # define variables to hold classifier scores
  trainingScore = classifier.score(X_train, y_train)
  testScore = classifier.score(X_test, y_test)

  return testScore

In [ ]:
# pass each year into main function and calculate test scores.
Binary_TestScores_2015, cbb_2015 = cbbYearParser(2015, stats)
Binary_TestScores_2016, cbb_2016 = cbbYearParser(2016, stats)
Binary_TestScores_2017, cbb_2017 = cbbYearParser(2017, stats)
Binary_TestScores_2018, cbb_2018 = cbbYearParser(2018, stats)
Binary_TestScores_2019, cbb_2019 = cbbYearParser(2019, stats)

In [ ]:
# make testScore dataframe
Binary_testScore_df_temp = pd.DataFrame(Binary_TestScores_2015).T
Binary_testScore_df_temp.loc[1] = Binary_TestScores_2016
Binary_testScore_df_temp.loc[2] = Binary_TestScores_2017
Binary_testScore_df_temp.loc[3] = Binary_TestScores_2018
Binary_testScore_df_temp.loc[4] = Binary_TestScores_2019

# add column headers
Binary_testScore_df_temp.columns = stats

# # make a dataframe holding the years
years = ['2015', '2016', '2017', '2018', '2019']
years_df = pd.DataFrame(years)
years_df.columns = ['Year']

# concatenate the years and stats dataframes
Binary_testScore_df = pd.concat([years_df, Binary_testScore_df_temp], axis=1).reindex(years_df.index)

In [ ]:
cbb_2015.head(10)

            TEAM CONF   G   W  ...  SEED  YEAR  POSTSEASON_BINARY  POSTSEASON_MULTI
1      Wisconsin  B10  40  36  ...     1  2015                  1                 6
5           Duke  ACC  39  35  ...     1  2015                  1                 7
10    Louisville  ACC  36  27  ...     4  2015                  1                 4
11    Notre Dame  ACC  38  32  ...     3  2015                  1                 4
23       Arizona  P12  38  34  ...     2  2015                  1                 4
28       Gonzaga  WCC  37  34  ...     2  2015                  1                 4
31  Michigan St.  B10  39  27  ...     7  2015                  1                 5
37      Kentucky  SEC  39  38  ...     1  2015                  1                 5
40      Duquesne  A10  30  11  ...    NA  2015                  0                 0
41       Fordham  A10  30   9  ...    NA  2015                  0                 0

[10 rows x 26 columns]

In [ ]:
Binary_testScore_df.head(10)

   Year         G         W     ADJOE  ...      3P_O      3P_D     ADJ_T       WAB
0  2015  0.818182  0.909091  0.943182  ...  0.772727  0.761364  0.784091  0.954545
1  2016  0.818182  0.852273  0.818182  ...  0.795455  0.784091  0.784091  0.909091
2  2017  0.897727  0.920455  0.909091  ...  0.806818  0.795455  0.784091  0.954545
3  2018  0.875000  0.886364  0.886364  ...  0.750000  0.795455  0.784091  0.920455
4  2019  0.876404  0.898876  0.898876  ...  0.764045  0.797753  0.786517  0.921348

[5 rows x 20 columns]