In [5]:
import pandas as pd
import numpy as np
import plotly.express as px

In [6]:
#read in csv file, utitilizing read.csv method
Binary_df = pd.read_csv("Binary_testScore.csv")
Binary_df

,Unnamed: 0,Year,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB
0,0,2015,0.818182,0.909091,0.943182,0.863636,0.875000,0.818182,0.772727,0.795455,...,0.784091,0.784091,0.784091,0.784091,0.806818,0.829545,0.772727,0.761364,0.784091,0.954545
1,1,2016,0.818182,0.852273,0.818182,0.875000,0.863636,0.818182,0.829545,0.795455,...,0.784091,0.784091,0.784091,0.784091,0.784091,0.795455,0.795455,0.784091,0.784091,0.909091
2,2,2017,0.897727,0.920455,0.909091,0.863636,0.897727,0.795455,0.784091,0.784091,...,0.784091,0.784091,0.784091,0.784091,0.795455,0.772727,0.806818,0.795455,0.784091,0.954545
3,3,2018,0.875000,0.886364,0.886364,0.875000,0.818182,0.818182,0.818182,0.818182,...,0.784091,0.784091,0.784091,0.784091,0.772727,0.840909,0.750000,0.795455,0.784091,0.920455
4,4,2019,0.876404,0.898876,0.898876,0.898876,0.842697,0.786517,0.853933,0.786517,...,0.786517,0.786517,0.786517,0.786517,0.797753,0.876404,0.764045,0.797753,0.786517,0.921348

In [11]:
Binary_df.set_index('Year')
Binary_df

,Unnamed: 0,Year,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB
0,0,2015,0.818182,0.909091,0.943182,0.863636,0.875000,0.818182,0.772727,0.795455,...,0.784091,0.784091,0.784091,0.784091,0.806818,0.829545,0.772727,0.761364,0.784091,0.954545
1,1,2016,0.818182,0.852273,0.818182,0.875000,0.863636,0.818182,0.829545,0.795455,...,0.784091,0.784091,0.784091,0.784091,0.784091,0.795455,0.795455,0.784091,0.784091,0.909091
2,2,2017,0.897727,0.920455,0.909091,0.863636,0.897727,0.795455,0.784091,0.784091,...,0.784091,0.784091,0.784091,0.784091,0.795455,0.772727,0.806818,0.795455,0.784091,0.954545
3,3,2018,0.875000,0.886364,0.886364,0.875000,0.818182,0.818182,0.818182,0.818182,...,0.784091,0.784091,0.784091,0.784091,0.772727,0.840909,0.750000,0.795455,0.784091,0.920455
4,4,2019,0.876404,0.898876,0.898876,0.898876,0.842697,0.786517,0.853933,0.786517,...,0.786517,0.786517,0.786517,0.786517,0.797753,0.876404,0.764045,0.797753,0.786517,0.921348